section.deadlineDisplay {
    gap: 10px;
}

article.deadline {
    padding: 10px;
    margin: 20px;
    border: 2px solid;
    border-radius: 30px;
}

.content {
    display: inline-block;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
}

.content > * {
    text-decoration: none;
}

.countdown {
    border: 2px solid;
    border-radius: 30px;
    text-align: center;
    margin: 5px;
    padding: 10px;
    width: 70px;
    height: 70px;
    background-color: #d8dce4;
}

.countdown > * {
    background-color: #d8dce4;
}

.countdown-num {
    font-size: 25px;
    background-color: #d8dce4;
}

.title {
    font-size: 20px;
}

.button {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    width: 70px;
    height: 20px;
    color: black;
}

.button > input {
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.button-edit {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    width: 50px;
    height: 13px;
    color: black;
    font-size: 13px;
    background-color: #d8dce4;
    text-decoration: none;
}

.input-deadline {
    margin: 30px 0 30px 0;
}

.each-input {
    margin: 20px;
}

.each-input > p {
    font-size: 20px;
}

.each-input > input, select {
    width: 60%;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    border: 2px solid black;
}

.each-input > input {
    padding: 10px;
}
