section.todoDisplay {
    gap: 10px;
}

article.task {
    display: flex;
    margin: 20px;
    border-radius: 30px;
    align-items: stretch;
}

.content2 {
    display: inline-block;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 30px;
    width: 300px;
    

}
.title2 {
    font-size: 20px;
}

.button2 {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    width: 70px;
    height: 20px;
    color: black;
}


.checkbox-round {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid black;
    appearance: none;
    cursor: pointer;
}

.circleTrue {
    background-color: rgb(188, 165, 234); 
}

.titleTrue {
    text-decoration: line-through;
}
